# Managed by TerangaHost
# Charge avant 50-cloud-init.conf : la premiere valeur lue par sshd l'emporte.
PermitRootLogin prohibit-password
PasswordAuthentication no
KbdInteractiveAuthentication no
PubkeyAuthentication yes
PermitEmptyPasswords no
X11Forwarding no
MaxAuthTries 5
