# Managed by TerangaHost - Laravel scheduler de {{ .Domain }}
SHELL=/bin/bash
* * * * * deployer [ -f {{ .Directory }}/current/artisan ] && cd {{ .Directory }}/current && php{{ .PHPVersion }} artisan schedule:run >> /dev/null 2>&1
